/* @import url("https://fonts.googleapis.com/css2?family=Momcake:wght@100;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nasalization:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fanwood+Text:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arial:wght@400;700&display=swap"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

